<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Custom/OverrideBootstrap.css" />
    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>
</head>

<body>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="nav-size">
            <div class="container" id="top-nav">
                <nav class="navbar-expand-lg navbar-light bg-light">
                </nav>
                <div>
                </div>

                <div>
                    @Html.Partial("_SidebarPartial")
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

    <div class="wrapper">
        <div class="container body-content">
            @RenderBody()

        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Photos", "Index", "Photo")
                </li>
                <li>
                    @Html.ActionLink("Delete Tag from Photo", "Index", "Tag/Index")
                </li>
            </ul>
        </nav>
            <hr />
        </div>

    </div>
        <div>
            <footer>
                <p>&copy; @DateTime.Now.Year - <a href="taylorf.com" target="_blank">TaylorF.com</a></p>
            </footer>
        </div>
</body>

</html>